body {
    background-image: url(https://www.65ymas.com/uploads/s1/74/97/72/bigstock-underwater-funny-photo-of-gold-386200165_1_621x621.jpeg);

}
#navega {
    height: 6.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#formulario {
    margin: 2rem;
    border: 4px solid yellow;
    border-radius: 2rem;
    padding: 2rem;
}

#formulario input:focus {
    background: #198754;
}

.foto {
    display: block;
    width: 100%;
}

.container {
    padding: 2rem;
}

